body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    text-align: left;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.image-container {
    flex: 1;
    max-width: 40%;
    padding: 10px;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.quote-container {
    flex: 2;
    padding: 10px;
}
.quote-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
.quote-container p {
    font-size: 24px;
    color: #333;
    font-style: italic;
    text-align: right;
}

nav {
    background-color: white;
    padding: 15px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}
