<!-- blog/templates/blog/show_all.html -->
 {% extends 'blog/base.html' %}
 {% block content %}
 <h1>showing all articles</h1>

 <!-- print out the context variable called articles -->
 <!-- {{articles}} -->
  <div>
    {% for a in articles %}
    <div>
        <a href="{% url 'article' a.pk %}"><h2>{{a.title}}</h2></a>
        <h3>by {{a.author}} at {{a.published}}</h3>
        <p>
            {{a.text}}
        </p>
        <!-- use object instance.pk -->
        <a href="{% url 'article' a.pk %}">
          <img src="{{a.image_file.url}}" alt="img">
        </a>
    </div>
    {% endfor %}
  </div>
  {% endblock %}