{% extends 'mini_fb/base.html' %}
{% block content %}
<form method = 'POST' >
    {% csrf_token %}
    <div class="profile-table-container">
        {% if not request.user.is_authenticated %}
        <h2>User Registration</h2>
        <table class="profile-table">
            {{ user_creation_form.as_table }}
        </table>
        {% endif %}
        <h2>Create new Profile</h2>
        <table class="profile-table">
            {{form.as_table}}
        </table>

        <table class="button">
            <td>
                <input type='submit' name = 'Add Profile!' value= 'Add Profile!'>
            </form>
                <form action="{% url 'show_profile_self'%}">
                    {% csrf_token %}
                    <input type="submit" name = "Cancel" value = "Cancel">
                </form>
            </td>
        </table>
    </div>
</form>
{% endblock %}