{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>Your Profile</h1>
<div class="personal">
    <img src="{{profile.profile_image_url}}" alt="image">

    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>

    <h4>{{profile.email_address}}</h4>
    <h4>{{profile.city}}</h4>
</div>
{% if request.user.is_authenticated and request.user == profile.user %}
<div class="container">
    <a href="{% url 'update_profile' %}"><h2>Update Profile</h2></a>
    <a href="{% url 'create_status' %}"><h2>Add Status Message</h2></a>
    <a href="{% url 'news_feed' %}"><h2>News Feed</h2></a>
</div>
{% endif %}
<div class="main-container">
    <div class="status-message-container">
        <h2>Status Message</h2>

        {% if profile.get_status_messages %}
            {% for c in profile.get_status_messages %}
            <div class="status-message">
                <p>{{c.message}}</p>
                {% if c.get_images %}
                    {% for img in c.get_images %}
                        <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                    {% endfor %}
                {% endif %}
                <p class="timestamp">{{c.timestamp}}</p>
                {% if request.user.is_authenticated and request.user == profile.user %}
                <div>
                    <a href="{% url 'update_status' c.pk %}">Update</a>
                    <a href="{% url 'delete_status' c.pk %}">Delete</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
        <div>
        </div>
        {% endif %}
    </div>
    <div class="friends-container">
        <h2>{{profile.first_name}}'s Friends</h2>
        {% if profile.get_friends %}
            <div class="friends-list">
                {% for f in profile.get_friends %}
                <div class="friends-card">
                    <a href="{% url 'show_profile' f.pk %}">
                        <img src="{{f.profile_image_url}}" alt="image">
                        <p>{{ f.first_name }} {{ f.last_name }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if request.user.is_authenticated and request.user == profile.user %}
        <a href="{% url 'friend_suggestions' %}" class="cardlike_button_a">See friend suggestions</a>
        {% endif %}
    </div>
</div>
{% endblock %}