{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>Update {{ profile.first_name }} {{ profile.last_name }}'s profile</h1>
<form method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-table-container">
        <table class="profile-table">
            {{form.as_table}}
        </table>
        <table class="button">
            <td>
                <input type='submit' name = 'Change!' value= 'Change!'>
            </form>
                <form action="{% url 'show_profile' profile.pk%}">
                    <input type="submit" name = "Cancel" value = "Cancel">
                </form>
            </td>
        </table>
    </div>
</form>
{% endblock %}