body {
    background-color: #fffdf6;
    color: #494949;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 50px;
    margin-bottom: 20px;
}

p {
    font-size:medium;
}

form {
    align-items: center;
}

.servey{
    margin: 0px auto;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s;
    border-collapse: separate;
    width: 80%;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.servey:hover {
    transform: scale(1.05);
}

td {
    padding: 10px;
}

td:first-child {
    vertical-align: middle;
}


.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.container a{
    flex: 1;
}
.container img {
    margin-right: 20px; /* Adds space between image and text */
}

.container h2 {
    flex: 1; /* Take the remaining available space */
    margin: 0;
}

.hours-table {
    width: 60%;
    border-collapse:separate;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hours-table th, .hours-table td {
    padding: 12px;
    text-align: center;
}
.hours-table th {
    background-color: white;
    color: 494949;
}

.hours-of-operation {
    justify-content: center; 
}

nav {
    background-color: white;
    padding: 10px 20px;
    justify-content: center; /* Center-align items */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
}

nav a {
    font-size: 24px; 
    color: #494949; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

/* Hover effect */
nav a:hover {
    color: #ece9bc;
}

a{
    text-decoration: none; 
    color: #494949; 
    font-size:larger;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ece9bc;
}

.profile-table-container {
    margin: 20px auto;
    width: 80%;
    margin-top: 50px;
}

.profile-table {
    width: 100%;
    background-color: white;
    border-spacing: 0;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.profile-table th {
    padding: 15px;
    text-align:center;
    border-bottom: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size:larger;
}

.profile-table td {
    padding: 15px;
    text-align: center;  
    font-size: larger;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.profile-table tr:hover {
    background-color: #f9f9f9;
}

/* Image styling */
.image-container {
    margin: 20 auto;
    position:relative;
    justify-content: center; 
    display:flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.profile-image:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}
/* Table row hover effect */
.profile-table tr {
    transition: background-color 0.2s ease-in-out;
}

.profile-table tr:hover {
    background-color: #fafafa;
}

.button {
    margin-top: 20px;
    margin-left: 45%;
}

.button td{
    text-align: center;
}

/* personal_profile */
.personal {
    margin: 30 auto;
    padding: 20px;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.personal img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 5px solid #ece9bc;
}

.personal h2 {
    font-size: 1.8em;
    color: #494949;
    margin-bottom: 10px;
    font-weight: bold;
}

.personal h4 {
    font-size: 1.2em;
    color: #666; 
    margin-bottom: 8px;
}

.personal img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out;
}

.main-container {
    display: flex;
    margin: 0 auto;
    gap: 20px; /* Adds space between the two columns */
    align-items: flex-start;
}

/* Main container for status messages */
.status-message-container {
    flex: 2;
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    text-align: left;
}


.status-message-container h2 {
    font-size: 1.8em;
    color: #333;
    text-align: left; 
    margin-bottom: 20px;
    font-weight: bold;
}

/* Individual message styling */
.status-message {
    padding: 15px;
    background-color: #ece9bc;
    border-radius: 20px;
    margin-bottom: 15px;
    max-width: fit-content;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.status-message p {
    font-size: 1.1em;
    color: #333;
    margin: 0;
    line-height: 1.4em;
}


.status-message .timestamp {
    font-size: 0.9em;
    color: #888;
    text-align: right;
    margin-top: 8px;
}

.status-message:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ece9bc transparent transparent;
    top: 10px;
    left: -10px;
}


.status-message.alt {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
    float: right;
}

.status-message.alt:after {
    border-color: transparent transparent transparent #d1e7dd;
    right: -10px;
    left: auto;
}

.status-message img {
    max-width: 500px; 
    max-height: 500px;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #d3d3d3;
}

.status-message a {
    text-decoration: none;
    color: #494949;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1em;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.status-message a:hover {
    background-color: #ece9bc;
}


.friends-container {
    flex: 1;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.friends-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.friends-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.friends-card img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image fits within the container without distortion */
    border-radius: 50%; /* Keeps the image circular */
    margin-bottom: 10px;
    border: 5px solid #ece9bc;
}

.friends-card p {
    font-size: 16px;
    color: #494949;
    font-weight: bold;
    font-family: 'Arial',
}

.cardlike_button_a {
    text-decoration: none;
    color: #494949;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1em;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.suggestion-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.suggestion_card{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion_card img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image fits within the container without distortion */
    border-radius: 50%; /* Keeps the image circular */
    margin-bottom: 10px;
    margin-top: 10px;
    border: 5px solid #ece9bc;
}

.suggestion_card img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out;
}

.suggestion_card p {
    font-size: 16px;
    color: #494949;
    font-weight: bold;
    font-family: 'Arial',
}


.news-feed {
    background-color: white;
    width: 80%;
    padding: 40px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.status-item {
    border-bottom: 1px solid #e8e4e4;
    padding: 15px 0;
}

.status-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.news-content{
    margin-left: 60px;
}

.status-images {
    margin-top: 10px;
}

.status-image {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.status-time {
    color: gray;
    font-size: 12px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Right aligned user dropdown */
.user-dropdown {
    position: absolute;
    display: inline-block;
    right: 20px;
}

.user-button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}

.dropdown-arrow {
    font-size: 12px;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0; /* Align dropdown to the right */
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    padding: 10px 0;
    overflow: hidden;
}

.dropdown-content a,
.dropdown-content button {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

/* Logout button specific styling */
.logout-form {
    margin: 0;
    padding: 0;
}

.logout-form button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
}

.logout-form button:hover {
    background-color: #f1f1f1;
}

/* Style for the login link if the user is not authenticated */
.login-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.vcontainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.row {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #494949;
    color: white;
}

tr:hover {
    background-color: #e9e9e9;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #ece9bc;
    padding: 5px 10px;
    border: 1px solid #ece9bc;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #ece9bc;
    color: white;
}

.form-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 10px auto;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

label {
    flex: 1;
    font-weight: bold;
    margin-bottom: 0;
}

select, input[type="submit"] {
    flex: 2;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: white;
    color: #ece9bc;
    border: 1px solid #ece9bc;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #ece9bc;
    color: white;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin: 0;
}

.details-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: #ece9bc;
    border: 1px solid #ece9bc;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #ece9bc;
    color: white;
}

.card-container {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}
.card-body {
    padding: 20px;
}

.graph-container {
    max-width: 900px;
    margin: 0 auto;
}