{% extends 'quotes/base.html' %}

 {% block content %}
    <h1>About Einstein</h1>
    <div class="container">
        <div  class="image-container">
            <img src="../static/meta-einstein.png" alt="Albert Einstein">
        </div>
            <p><strong>Albert Einstein</strong> (1879–1955) was a German-born theoretical physicist, widely regarded as one of the greatest scientific minds of all time. He revolutionized the world of physics with his development of the theory of relativity, fundamentally reshaping our understanding of space, time, and gravity. His equation <strong>E = mc²</strong>, which expresses the relationship between mass and energy, has become one of the most famous equations in history.</p>
    
            <p>In 1921, Einstein was awarded the <strong>Nobel Prize in Physics</strong>, not for his theory of relativity but for his work on the <strong>photoelectric effect</strong>, which was a crucial step in the development of quantum theory. His contributions laid the foundation for modern physics, and his work continues to influence scientific thought today.</p>
    
            <p>Beyond his scientific achievements, Einstein was a committed <strong>pacifist</strong>, <strong>humanitarian</strong>, and <strong>civil rights advocate</strong>. He was outspoken on social and political issues, calling for peace, civil liberties, and freedom of expression. After emigrating to the United States in 1933 to escape Nazi persecution, he became a prominent figure in global intellectual and political discourse.</p>
    
            <p>Albert Einstein’s curiosity, creativity, and relentless pursuit of understanding have left an indelible mark on science and society. His work continues to inspire generations of scientists, thinkers, and innovators worldwide.</p>
    </div>
{% endblock %}