{% extends 'waterlog/base.html' %}
{% block content %}
<h1 class="form-heading">Delete this water log?</h1>
<form method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="log-card">
        {{waterlog}}
    </div>
    <div class="form-actions">
        <input type="submit" name="Delete!" value="Delete!" class="btn-primary">
    </div>
</form>
<form action="{% url 'show_today_log' %}" class="inline-form">
    <input type="submit" name="Cancel" value="Cancel" class="btn-secondary">
</form>
{% endblock %}