{% extends 'waterlog/base.html' %}

{% block content %}
<h1>All Notifications</h1>
{% if all_notifications %}
    <div class="notification-form">
        {% for notification in all_notifications %}
            <div class="notification-entry">
                <div class="notification-header">
                    <img src="{{ notification.sender.profile_img.url }}" alt="{{ notification.sender.user_name }}'s profile picture" class="notification-pic">
                    <strong>{{ notification.sender.user_name }}</strong>
                </div>
                <div class="notification-content">
                    <p class="notification-message">"{{ notification.message }}"</p>
                    <p class="notification-timestamp">{{ notification.timestamp|date:"M d, Y H:i" }}</p>
                    {% if notification.read %}
                        <span class="read-status read">Read</span>
                    {% else %}
                        <span class="read-status unread">Unread</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No notifications found.</p>
{% endif %}
{% endblock %}
